/*p.topText{
	align:center;
}*/
*{ margin:0px; padding: 0px; } 
body{
/*    background-color: #7B7B7B;
    text-align: center;*/
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}
.head{

}
.topPic{
    position: relative;
    width: 100%;
}
.topPic img{
    position: relative;
    width: 100%;
    height: 455px;
}
.topText { 
	position: absolute;
    top:55px;
    text-align: center;
	color:#ffff99;
    font-size: 45px;
	font-family:"Microsoft YaHei";
    width: 100%;
}
.topText p{
    font-size: 30px;
}
#nav { 
font-family:"Microsoft YaHei"; 
position: relative; 
width: 600px; 
height:56px; 
font-size:20px; 
color:#5E2612; 
margin: 0 auto; 
} 
#nav ul { 
list-style-type: none; 
} 
#nav ul li { 
float: left; 
position: relative; 
} 
#nav ul li a { 
text-align: center; 
border-right:1px solid #e9e9e9; 
padding:20px; 
display:block; 
text-decoration:none; 
color:#999; 
} 
#nav ul li ul { 
display: none 
} 
#nav ul li:hover{ 
    background:#6dc7ec; 
} 
#nav ul li:hover ul { 
display: block; 
position: absolute; 
} 
#nav ul li:hover ul li a { 
display:block; 
background:#12aeef; 
color:#ffffff; 
width: 110px; 
text-align: center; 
border-bottom: 1px solid #f2f2f2; 
border-right: none; 
} 
#nav ul li:hover ul li a:hover { 
background:#6dc7ec; 
color:#fff; 
} 
.aboutMe{
    width: 100%;
    background-color: #f3f3f3;
}
.aboutMe img{
    float: left;
    width:400px;
    height:450px
}
.content {
    float: left;
    width:900px;
    margin-left: 20px;
}
.content h1{
    font-size: 47px;
    color: #5B4C5B;
}
.content.text{
    width:700px;
    height: 250px;
    overflow: scroll;
    overflow-x:none;
    font-size: 23px;
    margin-left: 0px;
    overflow-x: hidden;
}
.clear {
  clear: both;
  }
#fullName{
    font-size: 45px;
    color: #D94600;
}
#shortDes{
    font-size: 20px;
    color: #D94600;
}
@media screen and (max-width: 1152px) { 
.aboutMe img {
    width: 100%;
} 
.content {
    width: 100%;
} 
}
